.container
  .table
    .table-cell
      a(href=locals.home)
        img(src='/images/logo-mozvr-fira-white.svg' alt='Mozilla').mxn1.mt1.w10
    .table-cell.full-width.px3
      a(href=locals.downloads).px2.light.rounded1.button.hover-light.uppercase.header-link.h5 Downloads
      a(href=locals.projects).px2.light.rounded1.button.hover-light.uppercase.header-link.h5 Projects
      a(href=locals.blog).px2.light.rounded1.button.hover-light.uppercase.header-link.h5 Blog
    .table-cell.right-align.nowrap.mxn2.pl2
      a(href=locals.repo target='_blank').rounded4.button.hover-light.px2
        img(src='/images/icon-github-white.svg' alt="Twitter").w2
      a(href='http://twitter.com/hashtag/mozvr' target='_blank').rounded4.button.hover-light.px2
        img(src='/images/icon-twitter-white.svg' alt="Twitter").w2
      //a(href='http://wiki.mozilla.org/IRC' target='_blank').rounded1.button.hover-light IRC
      //a(href='http://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank').rounded1.button.hover-light Mailing List