.container
  .table
    .table-cell.mxn2.col-2
      a(href=locals.url target='_blank')
        img(src='/images/logo-mozvr-white.svg' alt='Mozilla').mxn2.p2.fit.rounded2
    .table-cell.full-width.px3
      a(href=locals.downloads).light.rounded1.button.hover-light Downloads
      a(href=locals.projects).light.rounded1.button.hover-light Projects
      a(href=locals.projects).light.rounded1.button.hover-light Blog
    .table-cell.right-align.nowrap.mxn2.pl2
      a(href=locals.repo target='_blank').rounded1.button.hover-light
        img(src='/images/icon-github-white.svg' alt="Twitter").w2
      a(href='http://twitter.com/hashtag/mozvr' target='_blank').rounded1.button.hover-light
        img(src='/images/icon-twitter-white.svg' alt="Twitter").w2
      //a(href='http://wiki.mozilla.org/IRC' target='_blank').rounded1.button.hover-light IRC
      //a(href='http://mail.mozilla.org/listinfo/web-vr-discuss' target='_blank').rounded1.button.hover-light Mailing List