extends layout

block content

  // Container for canvas
  .fixed.top-0.right-0.bottom-0.left-0.z-1#stage
    //Enter VR buttons and prompts
    .absolute.right-2.bottom-8
      include entervr

  // Header
  .p-leftedge.py2.pr1.white.bg-darkblue2-transparent#header
    include header

  // Intro
  .p-leftedge.py3.pr4.white.bg-darkblue2
    .grid-container
      .row
        .col-8
          h1 We are the Mozilla Research VR team. Our goal is to bring high performance virtual reality to the web. This is our lab, where we publish experiments and resources. Grab the latest build of 
            a(href=locals.downloads).blue1.bb1.b-dotted.b-blue1 Firefox with VR
            |  explore our 
            a(href=locals.projects).blue1.bb1.b-dotted.b-blue1 projects
            |  , view 
            a(href=locals.repo).blue1.bb1.b-dotted.b-blue1 source
            |  , and 
            a(href='').blue1.bb1.b-dotted.b-blue1 start creating 
            |  virtual worlds!
          br
          br
          a(href=locals.downloads).button.bg-green1.px3.mr2
            | Firefox with VR
          a(href=locals.repo).button.bg-green1.px3
            | GitHub

  include project-tile

  // Projects
  .p-leftedge.py3.pr4.white.bg-darkblue2
    h2 Latest Projects
    //#project-grid
    .grid-container
      .row
        .col-3 
          mixin project-tile('sechelt')
        .col-3 
          mixin project-tile('infodive')
        .col-3
          mixin project-tile('polarsea')
        .col-3
          mixin project-tile('panorama-viewer')
      .row
        .col-3 
          mixin project-tile('construct')
        .col-3 
          mixin project-tile('leap-collage')
        .col-3 
          mixin project-tile('talkchatshow-ep4')
        .col-3
    a(href=locals.projects).px3.button.bg-lighten2.white More


  include post-tile

  // Posts

    .p-leftedge.py3.pr4.darkblue2.bg-white
      h2 Latest posts
      .grid-container
        .row
          .col-4
          .col-4
          .col-4


  include team-member

  // Team
  .p-leftedge.py3.pr4.darkblue2.bg-white
    h2 About Us
    .grid-container
      .row
        .col-6
          p The goal of the virtual reality team at Mozilla Research is to explore and foster the virtual reality open web. We are a small core team of Mozillians working with contributors and partners from around the world.
      .row
        .col-2
          mixin team-member('joshcarpenter')
        .col-2
          mixin team-member('vladvukicevic')
        .col-2
          mixin team-member('caseyyee')
        .col-2
          mixin team-member('diegomarcos')



  //#articles.standard-padding

  //
    #getfirefox

        a(href='downloads.html').download <b>Get Firefox</b> with <b>VR</b>
        br
        | Latest release: 
        a(href='downloads.html') Nov 13 2014, v36.0a1

  //
    #checklist

      h2 Checklist
      table
        tr.row
          td.number 1
          td.gap
          td Use VR-enabled browser
          //
            td.state
              span.positive READY!
          td.gap
          td.comment 
            a(href='downloads.html') Firefox
            |  or 
            a(href='downloads.html') Chromium
            |  supported
        tr.row
          td.number 2
          td.gap
          td Connect Oculus Rift
          //
            td.state
              span.positive READY!
          td.gap
          td.comment TODO: 
            a(href='' target='_blank') Support for other devices.
        tr.row
          td.number 3
          td.gap
          td Win: Set display to Extended Desktop, 90° rotation, 60Hz refresh.
          //
            td.state
          td.gap
          td.comment TODO: 
            a(href='' target='_blank') Support for Direct-to-Rift and 75Hz refresh.
        tr.row
          td.number
          td.gap
          td Mac: Set display to Mirror, optimize for Rift, 60Hz refresh.
          //
            td.state
          td.gap
          td.comment
        tr.row
          td.number 4
          td.gap
          td Grant fullscreen permission
          //
            td.state
          td.gap
          td.comment TODO: 
            a(href='' target='_blank') Remove this step. 

  //
    #code
    .grid-container
      .row
        .col-12
          h2 Code
      .row
        .col-4

          p Here are the basic steps for creating a WebGL. We recommend using the Three.js framework, which includes a few libraries for working with VR head sets.


          ul
            li 
              em VRControls: 
              | Acquires positional information from connected VR devices and applies  the transformations to a three.js camera object.
            li
              em VREffect: 
              | Handles stereo camera setup and rendering.

          a Example
          |  | 
          a Source

          ul
            li Include:
              code &lt;script src="js/VRControls.js"&gt;&lt;/script&gt;
            li Include
              code &lt;script src="js/VREffect.js"&gt;&lt;/script&gt;
            li Apply VR headset positional data to camera.
              code var controls = new THREE.VRControls( camera );
            li Apply VR stereo rendering to renderer
              code var effect = new THREE.VREffect( renderer );
            li Update VR headset position and apply to camera
              code controls.update();
            li Render the scene through the VREffect
              code effect.render( scene, camera );
            li Listen for user event to enter full-screen VR mode
              code document.body.addEventListener( 'dblclick', function()
              code effect.setFullScreen( true );
              code });

          | More example scenes
          a https://github.com/MozVR/vr-web-examples
          | Last update: 
          a commit b2f8420952, caseyyee, nov 14

          ul
            li Three.js VR scene
            li Vanilla WebGL VR scene
            li CSS VR scene
            li First person controls

  //
    #roadmap
      .grid-container
        .row
          .col-12
            h2 Roadmap
        .row
          .col-12
            ul
              li Remove fullscreen permission prompt: 
                a bug 585858
              li Add support for emscripten: 
                a bug 585858
              li Add Cardboard support: 
                a bug 585858



  //- include author
  //- each article in articles
  //-   article.article.intro
  //-     header
  //-       h2
  //-         a(href=article.url)= article.title
  //-     section.content
  //-       if article.intro.length > 0
  //-         | !{ typogr(article.intro).typogrify() }
  //-       if article.hasMore
  //-         p.morec
  //-           a(href=article.url) More
